main{}


body{background-image: radial-gradient(#393939,#4D594D,#0D0D0D)}

a{text-decoration: none;font-size: 35px;border:solid;color: rgb(0, 0, 0);background-color: #769e82;padding: 20px;border-radius: 30px; }

a:hover{text-decoration: underline; background-color: aquamarine;text-decoration: none;}

h1{color: rgb(0, 0, 0);text-shadow: 1px 1px 5px rgba(24, 168, 29, 0.537);}

h2{font-size: 25px;color: rgb(0, 0, 0);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

p{font-size: 20px;color: #000000; text-shadow: 1px 1px 1px rgba(38, 170, 71, 0.352);}

h1{text-decoration: underline;}

main{background-color: rgba(255, 255, 255, 0.29);
    text-align:justify;
     
    margin: auto;min-width: 300px; max-width: 600px;
padding: 20px;
border-radius: 15px;}
div{text-align: center;}

ul{border: solid ; border-radius: 25px;background-color: #f7f7f784;}